h2:hover {
    color: red;
}
.subtitle {
    color: blue;
}

#services{
    color: greenyellow;
}
li:first-child {
    color: steelblue;
}

li:last-child {
    color: orange;
}

li:nth-child(3){
    color: gold;
}

#google-link:link{
    color:aqua;
}

#google-link:visited{
    color:red;
}